@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --empty: ;

    --background: 214 47% 98%;
    --foreground: 207 40% 26%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 207 40% 26%;
 
    --card: 0 0% 100%;
    --card-foreground: 207 40% 26%;
 
    --border: 204 35% 89%;
    --input: 204 35% 89%;
 
    --primary: 207 40% 26%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 207 40% 26%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 207 40% 26%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 206 49% 32%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body, #app {
  height: 100%;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: calc(var(--radius) - 4px);
  background-color: hsl(var(--muted-foreground) / .3) !important;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--muted)) !important;
}
